.firebase/
dist/
node_modules/

# Site configuration and assets.
.env.local
.firebaserc
public/assets

# Repositories containing site configuration.
*-private/

# Junk created by Firestore emulator (used for tests).
firebase-debug.log
firestore-debug.log
