rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Let logged-in users read all global docs besides "auth".
    match /global/{doc} {
      allow get: if doc != "auth"
                 && request.auth.uid != null;
    }

    // Give users full access to their own docs.
    // TODO: Validate fields here.
    match /users/{uid} {
      allow read, write: if request.auth.uid == uid;
    }

    // Access to everything else is denied by default.
  }
}
